
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>One of The Best UOC </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Sistem Informasi</ion-content>
  <ion-label>FINKOM</ion-label>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="head">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
      <ion-button (click)="Logout()" slot="end" size="small" fill="clear">Logout</ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- routerLink="/blank"> -->
    <div class="main_content_div">
      <div class="user_div">
          <ion-avatar class="icon">
            <img src="assets/unbin.jpeg" alt="">
          </ion-avatar>
        <div class="first_div">
          <ion-label class="Welcome">Jesaya Takaria</ion-label>
          <ion-label class="Welcome">Sistem Informasi (S1)</ion-label>
          <ion-label class="Welcome">Universitas Binaniaga</ion-label>
       </div>
        <ion-avatar class="icon">
          <img src="assets/4.jpg" alt="">
        </ion-avatar>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class="pupa">
          <h1>3.4</h1>
          <p>IP Kumulatif</p>
        </ion-col>
        <ion-col class="pupa">
          <h1>21</h1>
          <p>SKS Tempuh</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <b>ACADEMIC</b>
        <ion-row>
          <ion-col size="4">
            <ion-card routerLink="/tab4">
              <ion-card-content>
                <div style="text-align: center;">
                  <ion-card-title><img src="assets/1.png" alt=""></ion-card-title>
                  <ion-card-subtitle>Jadwal</ion-card-subtitle>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <ion-col size="4">
            <ion-card routerLink="/blank">
              <ion-card-content>
                <div style="text-align: center;">
                  <ion-card-title><b><img src="assets/2.png" alt=""></b></ion-card-title>
                  <ion-card-subtitle>Presensi</ion-card-subtitle>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <ion-col size="4">
            <ion-card routerLink="/blank">
              <ion-card-content>
                <div style="text-align: center;">
                  <ion-card-title><b></b><img src="assets/3.png" alt=""></ion-card-title>
                  <ion-card-subtitle>Nilai</ion-card-subtitle>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <ion-col size="4">
            <ion-card routerLink="/blank">
              <ion-card-content>
                <div style="text-align: center;">
                  <ion-card-title><b><img src="assets/4.png" alt=""></b></ion-card-title>
                  <ion-card-subtitle>Bahan & Tugas</ion-card-subtitle>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <ion-col size="4">
            <ion-card routerLink="/blank">
              <ion-card-content>
                <div style="text-align: center;">
                  <ion-card-title><img src="assets/5.png" alt=""><b></b></ion-card-title>
                  <ion-card-subtitle>KRSS/KRS</ion-card-subtitle>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <ion-col size="4">
            <ion-card routerLink="/blank">
              <ion-card-content>
                <div style="text-align: center;">
                  <ion-card-title><b><img src="assets/6.png" alt=""></b></ion-card-title>
                  <ion-card-subtitle>TA/Wisuda</ion-card-subtitle>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="4">
            <ion-card routerLink="/blank">
              <ion-card-content>
                <div style="text-align: center;">
                  <ion-card-title><b><img src="assets/1.png" alt=""></b></ion-card-title>
                  <ion-card-subtitle>Kegiatan</ion-card-subtitle>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <ion-col size="4">
            <ion-card routerLink="/blank">
              <ion-card-content>
                <div style="text-align: center;">
                  <ion-card-title><img src="assets/2.png" alt=""><b></b></ion-card-title>
                  <ion-card-subtitle>Biaya Kuliah</ion-card-subtitle>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <ion-col size="4">
            <ion-card routerLink="/blank">
              <ion-card-content>
                <div style="text-align: center;">
                  <ion-card-title><b><img src="assets/3.png" alt=""></b></ion-card-title>
                  <ion-card-subtitle>Kuesioner</ion-card-subtitle>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-slide>
  </ion-slides>
  </ion-content>
  
</div>
